<div class="flex justify-between">
  <div class="underline text-xs">
    Back to Shopping
  </div>
  <div>
    <%= link_to image_tag("https://www.aritzia.com/on/demandware.static/Sites-Aritzia_US-Site/-/default/dw9248a3f4/images/aritzia_skin/aritzia_logo.svg", width: 106, height: 21), root_path%>
  </div>
  <div class="underline text-xs">
    Need Help?
  </div>
</div>


<div class="flex">
  <div class="w-1/3"></div>
  <div class="w-1/3">
    <div class="ml-6 mt-12 text-xs">
      Create an Account
    </div>
    <div class="flex border border-gray-400 ml-6 mt-4">
      <div class="text-sm py-4 pl-28">
        Continue with Facebook
      </div>
    </div>
    <div class="relative flex ml-6 my-4 items-center">
      <div class="flex-grow border-t border-gray-400"></div>
      <span class="flex-shrink mx-4 text-gray-400 text-sm">
        or
      </span>
      <div class="flex-grow border-t border-gray-400"></div>
    </div>
    <div class="ml-6">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", class: "w-full h-12 pl-2 text-xs border border-gray-400 rounded"%>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Create Password", class: "w-full h-12 pl-2 text-xs border border-gray-400 rounded mt-4" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "w-full h-12 pl-2 text-xs border border-gray-400 rounded mt-4" %>
        </div>

        <div class="text-sm mt-4">
          By clicking "Create Account," I agree that I have read and accept the <span class="underline"> Terms of Use. </span>
        </div>

        <div class="mt-6 actions">
          <%= f.submit "Create Account", class: "w-full bg-black text-white h-14 text-xs" %>
        </div>
      <% end %> 
    </div>

    <div class="flex ml-6 mt-4 justify-between text-xs" >
      <div class="underline">
        Privacy Policy
      </div>
      <div>
         Have an account? 
         <%= link_to "Sign In", new_user_session_path, class: "underline" %>
      </div>
    </div>
  </div>
</div>










