
<div class = "flex space-x-16">
    <div class="w-1/2">
        <%= image_tag(@product.image, class: "product-image mb-2", width: '100%') %>
    </div>
    <div class = "w-1/4">
        <div>
            <%= @product.brand %>
        </div>
        <div class= "flex justify-between text-3xl">
            <div class = "">
                <%= @product.name %>
            </div>
            <div class= "">
                $<%= @product.price %>
            </div>
        </div>
        <div>
            <%= @product.product_type %>
        </div>
        <div class="flex space-x-5 mt-16">
            <% @colors.each do |color| %> 
                <div class= "rounded-full w-8 h-8 hover:border-black border-2 " style="background-color: <%= color.value %>">
                    
                </div>
            <% end %>
        </div>
        <div>
         Drop Down Menubutton 
        </div>
        <p>
            <%= @product.description %>
        </p>
    </div>
</div>

