
<div class = "flex space-x-16">
    <div class="w-1/2">
        <%= image_tag(@product.image, class: "product-image mb-2", width: '100%') %>
    </div>
    <div class = "w-1/4">
        <div>
            <%= @product.brand %>
        </div>
        <div class= "flex justify-between text-3xl">
            <div class = "">
                <%= @product.name %>
            </div>
            <div class= "">
                $<%= @product.price %>
            </div>
        </div>
        <div>
            <%= @product.product_type %>
        </div>
        <div class="mt-3 text-gray-400 text-sm">
            <%= (1..10).to_a.sample %> colors
        </div>
        <div>
         Drop Down Menubutton 
        </div>
        <p>
            <%= @product.description %>
        </p>
    </div>
</div>

