<!DOCTYPE html>
<html>
  <head>
    <title>RailsEcommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %1> %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-aritzia">
    <main class="mx-10 mt-5">
      <% if params[:controller]== 'sessions' || params[:controller] == 'registrations' %>
        <div class="flex justify-between">
          <div class="underline text-xs">
            <%= link_to "Back to Shopping", root_path %>
          </div>
          <div>
            <%= link_to image_tag("https://www.aritzia.com/on/demandware.static/Sites-Aritzia_US-Site/-/default/dw9248a3f4/images/aritzia_skin/aritzia_logo.svg", width: 106, height: 21), root_path%>
          </div>
          <div class="underline text-xs">
            Need Help?
          </div>
        </div>
      <% else %>
        <%= render "layouts/navbar" %> 
      <% end %>

      <%= yield %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    </main>

    <%= render "layouts/footer" %>
  </body>
</html>
